<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TabbedTortoiseGit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <TabbedTortoiseGit.Properties.Settings>
      <setting name="Size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Maximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxRecentRepos" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConfirmOnClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FastSubmoduleUpdateInitChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FastSubmoduleUpdateRecursiveChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FastSubmoduleUpdateForceChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FastSubmoduleUpdateMaxProcesses" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="OpenStartupReposOnReOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FastSubmoduleUpdateShowOnlyModifiedSubmodulesChecked"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FastSubmoduleUpdateCheckModifiedSubmodulesByDefault"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FastFetchTagsChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FastFetchPruneChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FastFetchMaxProcesses" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="FastFetchShowProgress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeveloperSettingsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowHitTest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CloseToSystemTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ModifiedTabFontColor" serializeAs="String">
        <value />
      </setting>
      <setting name="IndicateModifiedTabs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForModifiedTabsInterval" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="CloseWindowOnLastTabClosed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastUpdatePromptTime" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="FavoriteReposJsonString" serializeAs="String">
        <value />
      </setting>
      <setting name="NormalTabFontColor" serializeAs="String">
        <value />
      </setting>
      <setting name="KeyboardShortcutsString" serializeAs="String">
        <value />
      </setting>
      <setting name="ConfirmFasterFetch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FasterSubmoduleUpdateInitChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FasterSubmoduleUpdateRecursiveChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FasterSubmoduleUpdateForceChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FasterSubmoduleUpdateMaxProcesses" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="FasterSubmoduleUpdateAllSubmodules" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomActionsString" serializeAs="String">
        <value />
      </setting>
      <setting name="CheckTortoiseGitOnPath" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShouldShowChangelog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowChangelogOnUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SplitLayoutSplitterDistance" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="HideReferencesDisplay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TortoiseGitProcExeLocation" serializeAs="String">
        <value>C:\Program Files\TortoiseGit\bin\TortoiseGitProc.exe</value>
      </setting>
    </TabbedTortoiseGit.Properties.Settings>
  </userSettings>
  <log4net>
    <appender name="AppDataDateTimeFileNameLogger" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="${LOCALAPPDATA}\TabbedTortoiseGit\Logs\%date{yyyy-MM-dd}\%date{HH.mm.ss.fff}.log"/>
      </file>
      <PreserveLogFileNameExtension value="true"/>
      <appendToFile value="false"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="1GB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleLogger" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="AppDataDateTimeFileNameLogger"/>
      <appender-ref ref="ConsoleLogger"/>
    </root>
  </log4net>
</configuration>
